{% extends 'base.html.twig' %}

{% block title %}Hello WebHelloWorldController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Hello
			{{ controller_name }}! ✅</h1>

		This friendly message is coming from:
		<ul>
			<li>Your controller at
				<code>
					<a href="{{ '/data/www/dwc/sf-modular/src/Controller/WebHelloWorldController.php'|file_link(0) }}">src/Controller/WebHelloWorldController.php</a>
				</code>
			</li>
			<li>Your template at
				<code>
					<a href="{{ '/data/www/dwc/sf-modular/templates/web_hello_world/index.html.twig'|file_link(0) }}">templates/web_hello_world/index.html.twig</a>
				</code>
			</li>
			<li>The use case response is from Hello World Service:
				<code>
					<a href="{{ '/data/www/dwc/sf-modular/src/Module/HelloWorld/HelloWorldService.php'|file_link(0) }}">src/Module/HelloWorld/HelloWorldService.php</a>
				</code>
			</li>
		</li>
		<li>The use case response:
			<code>
				{{message}}
			</code>
		</li>
	</ul>
</div>{% endblock %}
